*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Spartan", sans-serif;
  font-size: $fontSizeM;
  text-align: center;
  background-image: url(/images/bg-pattern-top-desktop.svg), url(/images/bg-pattern-bottom-desktop.svg);
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  background-size: max(50%, 400px);
  min-height: 100vh;
  line-height: 1.5;
  scroll-behavior: smooth;
  color: $priColDark;
  
  .attribution{
    transform: translateY(3rem);
    
    @media (min-width: 50em) {
      transform: translateY(9rem);
    }
  }
}


h1 {
  font-size: $fontSizeXL;
  font-weight: $fWeightL;
  line-height: 1;
  max-width: 12ch;
  margin-bottom: 0;

  @media (max-width: 50em) {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
  }
}

li {
  border-radius: $borRad;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

// grid layout
main {
  display: grid;
  gap: 3rem 1rem;
}

@media (min-width: 50em) {
  main {
    grid-template-columns: 1fr 1.5fr;
    text-align: left;
  }

  .header {
    grid-column: 1 / 2;
  }

  .ratings {
    grid-column: 2 / 3;
    align-self: center;
  }

  .verifiedBuyers {
    grid-column: 1 / -1;
  }
}
