.ratings {
  display: flex;

  flex-direction: column;
  // gap: 1em;
  width: 18.75rem;
  max-width: 25rem;
  padding: 0;

  margin-left: auto;
  margin-right: auto;

  @media (min-width: 50em) {
    max-width: 100%;
    // justify-content: center;
  }

  .item {
    display: flex;
    flex-direction: column;
    color: $priColDark;
    background: $neuColLight;
    font-weight: $fWeightL;
    

    width: 100%;

    // @media(min-width: 50em){
    //   width: 100vw;
    // }

    // max-width: 25rem;

    // margin-left: auto;
    // margin-right: auto;

    .stars {
      display: flex;
      // justify-content: center;

      // content: "";
      // width: 100px;

      // height: 1rem;
      align-self: center;

      // margin: 0 auto;
      // display: block;
      // background-image: url(/images/icon-star.svg);
      // margin-bottom: 0.5rem;
      // background-repeat: space;

      //   @media (min-width: 50em) {
      //     margin: auto 0;
      //   }
    }

    .review {
      text-align: center;

      p {
        margin: 1rem auto 0;
      }

      @media (min-width: 50em) {
        padding-left: 1rem;
        p{
          margin: .5rem 2rem .5rem 0;
        }
      }
    }

    @media (min-width: 50em) {
      flex-direction: row;
      align-items: center;
      max-width: 100%;

      &:first-of-type {
        transform: translateX(-3rem);
      }
      &:last-of-type {
        transform: translateX(3rem);
      }
    }
  }
  img {
    // display: inline-block;
    margin: 0 0.125rem;
  }
}
