.container {
  max-width: 70rem;
  padding: 0 2em;
  margin: 0 auto;
}

.-container{
  max-width: 25rem;
  margin-left: auto;
  margin-right: auto;
}

.split{
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 25rem;
  margin-left: auto;
  margin-right: auto;

  @media(min-width: 50em){
    flex-direction: row;
    max-width: 100rem;
    margin-left: auto;
    margin-right: auto;
  }
}

