$priColDark: hsl(300, 43%, 22%);
$priColLight: hsl(333, 80%, 67%);

$neuColDark: hsl(303, 10%, 53%);
$neuColLight: hsl(300, 24%, 96%);
$neuColWhite: hsl(0, 0%, 100%);

$fontSizeS: 0.8125rem;
$fontSizeM: 0.9375rem;
$fontSizeL: 1.125rem;
$fontSizeXL: 2.5rem;

$fWeightS: 400;
$fWeightM: 500;
$fWeightL: 700;

$borRad: 0.5rem;

$spacerTwo: 2rem;
